/* 2019130032 - Fedora Yoshe Juandy */

.bg-image {
    background-image: url("/img/romero-souza-Bnbq1CjeGqU-unsplash.jpg");
}

.left-col {
    overflow: hidden;
}

.right-col {
    overflow-y: scroll;
    max-height: 100vh;
}
